node_modules
dist
out
.DS_Store
.eslintcache
*.log*

node_modules/

out/
build/
dist/

bin/
obj/
.vs/
*.user

.env
.env.local

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Grand Theft Auto V/

gtavideo.mp4
gtaimg.jpg
gtavideoimg.jpg