@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1E1E1E; 
}
::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF0055; 
}